<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/cloud.jpg">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Shaugn Tan, a Year 2 Computer Science Student. It uses data from WeatherStack and Mapbox</p>
</div>
    {{>footer}}

</body>

</html>